body {
  background-color: black;
  text-align: center;
}

h1,
h2,
p {
  font-family: Verdana, sans-serif;
}

h1 {
  font-weight: normal;
  font-size: 50px;
  color: White;
}

h2 {
  font-weight: 300;
  font-size: 42px;
  color: White;
}

.dload {
  color: Aquamarine;
  font-size: 16px;
}

#content {
  font-size: 21px;
  color: Grey;
}

#copy {
  font-size: 21px;
  color: Grey;
  text-align: right;
}
